// Place all the styles related to the Rides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   font-family: Geneva, Arial, sans-serif;
   font-size: medium;
   font-color: #000;
   background-color: #fff;

}

a:link, a:active, a:visited {
   color: #CD0000;
}

.table_heading{
	font-size: 15pt;
	border: 1px solid #ccc;
}

